<h1 class="pageTitle">Edit Player</h1>

<form action='/teams/{{teamId}}/players/{{playerId}}?_method=PUT' method='POST'>
    <div>Name<input type='text' name='name' value='{{this.name}}'></div>
    <div>Position<input type='text' name='position' value='{{this.position}}'></div>
    <div>Age<input type='text' name='age' value='{{this.age}}'></div>
    <div><input type='submit' value='Update Player'></div>
</form>