<h1 class="pageTitle">Team Roster<br>
<a class="button is-success" id="addNewPlayerButton" href='/teams/{{teamId}}/players/new'>Add New Player</a>
<a class="button is-success" id="backViewLeague" href='/teams/{{team._id}}'>Back to League Page</a>
{{!-- <a class="button is-success" id="backViewTeam" href='/teams/{{../this._id}}'>Back to Team Page</a> --}}
<div>
    {{#each players}}
        <div id="rosterNames">
            <a id="rosterName" href='/teams/{{../teamId}}/players/{{this._id}}'>{{this.name}}</a>
          </div>
    {{/each}}
</div>
<br>


