<h1>Team Roster
<a href='/teams/{{teamId}}/players/new'>( new )</a></h1>
<div>
    {{#each players}}
        <div>{{this.name}}
            <a href='/teams/{{../teamId}}/players/{{this._id}}'>Go to Player</a>
          </div>
    {{/each}}
</div>
<br>
<a href='/teams/{{team._id}}'>View Team Page</a>

