<h1 class="pageTitle">GOUDA'S LEAGUE<br>
<a class="button is-link" id="addNewTeamButton" href='/teams/new'>Add New Team</a></h1>
<div class="allTeams">

    {{#each teams}}
      <div id='teamNameLogo'>
          <span><image id="teamLogoHome" src="{{this.image}}"></span><br>
            <a href='/teams/{{this._id}}'>{{this.city}} {{this.name}}<br>
            </a>
        
    </div>
            {{/each}}
    
            {{!-- <div><a href='/teams/{{this._id}}'><button class="button">Go to team</button></a></div> --}}
    
</div>