<h1 class="pageTitle">{{team.city}} {{team.name}}</h1>

<div><img class="center" id="teamImage" src="{{team.image}}"> </div><br>
<div id="unitedTeamDescription">
    <p>Atlanta United FC joined Major League Soccer in the 2017 season and have surpassed expectaions of a typical expansion team. 
        Currently, in their 2018 season, they are looking to take home both the Supporter's Shield and MLS Cup.  Next up?  Challenging other teams in an offseason basketball league.
    </p><br>
</div>



<div class="center" id="buttonRow"><a class="button" href='/teams/{{team._id}}/edit'>Edit Team</a>
<a class="button" href='/teams'>League Page</a>
<a class="button" href='/teams/{{team._id}}/players'>Roster</a>
<a class="button" href='/teams/{{team._id}}/games'>Schedule</a>
<a action='/teams/{{team._id}}?_method=DELETE' method='POST'>
    <input class="button is-danger" type="submit" value='Delete Team'>
</a>
</div>