<h1 class="pageTitle">Showing One Game</h1>

<
<div>Date:  {{game.date}}</div>
<div>Time: {{game.time}}</div>
<div>Opponent: {{game.opponent}}</div>
<div>Location: {{game.location}}</div>
<div><img class="locationImage" src="{{game.image}}"</div>

<form action='/teams/{{teamId}}/games/{{game.id}}?_method=DELETE' method='POST'>
    <input type="submit" value='Delete game'>
</form>
{{!-- <div><a href='/teams/{{teamId}}/games/{{game._id}}/edit'>Edit game</a></div> --}}
<div><a href='/teams/{{teamId}}/games'>Go Back to Roster</a></div>
